.topGuidePage {
    margin: 50px auto;
    width: 80%;
    max-width: 1300px;
}

.form-container {
    display: flex;
    justify-content: space-between;
    height: 700px;
}

.imgUpload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    height: 700px;
    border: 4px solid lightgray;
    border-radius: 15px;
}

.resize{
    width: 60%;
    height: 700px;
}

.previewImg{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.imgUploadForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.duration {
    display: flex;
    width: 100%;
}

.fitDuration {
    width: 50%;
}

.form-floating>label {
    color: #A8C990;
}

.classMakeForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botGuidePage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.green {
    color:#A8C990;
}

.classMakeBtn {
    background-color: #A8C990;
    border: 2px solid #A8C990;
    border-radius: 10px;
    color: #fff;
    margin: 0 auto;
}

.classMakeBtn:hover {
    background-color: #fff;
    color: #A8C990;
}

#carouselHero, .carousel-item-images {
    object-fit: cover;
    object-position: center;
    height: 50vh;
    overflow: hidden;
}

.botGuidePage > .ClassCardBox > .card {
    width: 50%;
}