img {
    height: 250px;
}

.sellername {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn.btn-dark {
    display:inline;
    width: 40px;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name:hover {
    color: #A8C990;
    cursor: pointer;
}

.card-body {
    height: 155.19px;
}