.OrderList {
    display: flex;
    justify-content: center;
    padding: 30px;
    width: 35%;
    border: 3px dotted #A8C990;
    border-radius: 20px;
    color: #A8C990;
    font-size: 1.25em;
    height: 70vh;
}