.orderHistory > .OrderDetail {
    font-size: 2em;
    display:flex;
    flex-direction: column;
    width: 55%;
    border-radius: 20px;
    padding: 50px;
}

.right {
    display: block;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.LineItem {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.lineClassDive {
    width: 100%;
}
.lineClassHistory {
    padding: 10px;
    font-size: 0.5em;
    width: 100%;
}